/* Footer */
footer .footer-column > h3,
footer .widget > h3,
footer .widget_block > h3 {
    display: none !important;
}

footer .custom-logo {
    width: 38px;
    height: 38px;
    object-fit: contain;
}

footer .custom-logo-link {
    display: flex;
    align-items: center;
    justify-content: center;
}